*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	margin: 0 auto;
	font-family: "微软雅黑";
}

/*header start*/
header{
	background-color: #333;
	padding-top: 6%;
	padding-bottom: 20px;
}

#logo{
	display: block;
	width: 120px;
	overflow: hidden;
	border: 6px solid #fff;
	border-radius: 100%;
	background-color: #fff;
	margin: 0 auto;
}

header h1{
	color: #fff;
	font-weight: lighter;
	text-align: center;
	margin-top: 30px;
}
/*header end*/

/*intro start*/
#intro{
	padding-top: 40px;
}

#intro p{
	max-width: 640px;
	margin: 0 auto;
	padding: 15px 15px;
	background-color: #eee;
	text-align: center;
	border-radius: 5px;
	font-size: 14px;
	color: #333;
}

#intro ul{
	text-align: center;
	padding: 30px 0;
}

#intro li{
	display: inline-block;
	font-size: 22px;
	margin: 0 1%;
	cursor: pointer;
}

.good{
	color: #fff;
	background-color: green;
	padding: 8px 10px;
	border-radius: 5px;
}

.task a{
	text-decoration: none;
	color: #88ada6;
}

.task a:hover{
	color: #e29e45;
}

.task a:active{
	color: #75878a;
}
/*intro end*/

/*footer start*/
footer{
	padding-top: 30px;
	width: 200px;
	margin: 0 auto;
}

footer p{
	padding: 5px 0 5px 60px;
	background: url(image/email.png) no-repeat;
}

footer img{
	width: 200px;
	padding: 10px 0 20px;
}
/*footer end*/
